#faq-page-main-content {}
.faq-page-heading-content {}
.faq-page-heading-content .container-fluid {}
.faq-page-heading-content .container-fluid .row {
    padding-top: 75px;
}
.faq-page-heading-content .container-fluid .row .col-md-6 {
    padding: 0;
}
.faq-text-heading-content {}
.faq-text-heading-content > h2 {
    text-align: center;
    font-family: 'Lacquer', cursive;
    font-size: 35px;
}
.faq-text-heading-content > p {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}
.faq-text-heading-content > hr {
    margin-top: 25px;
}
.faq-page-question-list-main-content {}
.faq-page-question-list-main-content .container-fluid {}
.faq-page-question-list-main-content .container-fluid .row {
    padding: 30px 6%;
}
.question-list-content {}
.question-list-content ul {}
.question-list-content ul li {
    list-style: none;
}
.question-list-content ul li h3 {
    font-family: 'Lacquer', cursive;
    cursor: pointer;
    font-size: 22px;
}
.question-list-content ul li p {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    transition: 0.3s;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 26px;
}