/*320-mobile-screen*/
@media only screen and (max-width: 320px){
    #navbar-content .container-fluid .row {
        padding: 0 !important;
    }
    .navbar-nav {
        margin: 18px 0 !important;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }
    .navbar-dark .navbar-toggler{
        margin-right: -27px;
        padding-left: 157px;
    }
    .navbar-dark .navbar-toggler-icon {
        display: contents !important;
    }
    .slider-side-content h3 {
        font-size: 16px !important;
    }
    .slider-side-content h2 {
        font-family: 'Lacquer', cursive;
        margin: 5px 0 !important;
        font-size: 40px !important;
    }
    .slider-side-content h5 {
        font-size: 19px !important;
        margin-top: 21px !important;
    }
    .slider-side-content button {
        font-size: 11px !important;
        margin-top: 17px !important;
    }
    .slider-content .container-fluid .row {
        padding: 95px 2% !important;
    }
    #product-menu-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 30px !important;
    }
    .product-effect-content .product-menu-text-content {
        left: 22px !important;
        top: -124px !important;
    }
    .product-menu-text-content h2 {
        font-size: 23px !important;
    }
    .product-menu-text-content p {
        font-size: 14px !important;
    }
    .product-menu-text-content a {
        font-size: 15px !important;
    }
    .product-effect-content {
        margin-bottom: -47px !important;
    }
    .about-team-text-content h2 {
        font-size: 28px !important;
    }
    .about-team-text-content p {
        font-size: 13px !important;
    }
    #today-deal-main-content > h1 {
        font-size: 28px !important;
    }
    .carousel-control-next {
        padding-left: 0 !important;
        display: none;
    }
    .carousel-control-prev {
        padding-left: 0 !important;
        display: none;
    }
    .faq-text-heading-content > h2 {
        font-size: 28px !important;
    }
    .faq-text-heading-content > p {
        font-size: 13px !important;
    }
    .faq-page-question-list-main-content .container-fluid .row {
        padding: 30px 0 !important;
        margin: 0 !important;
    }
    .question-list-content {
        margin: 0 !important;
    }
    .question-list-content ul li h3 {
        font-size: 19px !important;
    }
    .question-list-content ul li h3 span {
        font-size: 13px !important;
    }
    .fsq-left-colum-img-content img {
        display: none !important;
    }
    #arrivals-product-main-content > h1 {
        font-size: 28px !important;
    }
    #contactus-page-main-content h1 {
        font-size: 28px !important;
    }
    .contact-us-file-content .container-fluid .row {
        padding: 0 2% !important;
    }
    .today-deal-product-card-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 88px !important;
    }
    .left-input-form-colum-content button {
        margin-bottom: 23px !important;
        font-size: 12px !important;
    }
    .left-input-form-colum-content input {
        font-size: 13px !important;
    }
    .left-input-form-colum-content textarea input {
        font-size: 13px !important;
    }
    .footer-list-main-content .container-fluid .row {
        padding: 35px 3% !important;
    }
    .footer-list-content h3 {
        font-size: 22px !important;
    }
    .footer-list-content ul li a {
        font-size: 15px !important;
    }
    .footer-list-content ul {
        margin-top: 30px !important;
        margin-bottom: 45px !important;
    }
    .footer-list-content p {
        font-size: 15px !important;
    }
    .input-group input {
        width: 96% !important;
        font-size: 13px !important;
    }
    .input-group-text {
        font-size: 12px !important;
        padding: 9px 18px !important;
    }
    .footer-copy-link p {
        font-size: 13px !important;
    }
    }
/*375-mobile-screen*/
@media only screen and (max-width: 375px){
    #navbar-content .container-fluid .row {
        padding: 0 !important;
    }
    .navbar-nav {
        margin: 18px 0 !important;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }
    .navbar-dark .navbar-toggler{
        margin-right: -27px;
        padding-left: 157px;
    }
    .navbar-dark .navbar-toggler-icon {
        display: contents !important;
    }
    .slider-side-content h3 {
        font-size: 16px !important;
    }
    .slider-side-content h2 {
        font-family: 'Lacquer', cursive;
        margin: 5px 0 !important;
        font-size: 40px !important;
    }
    .slider-side-content h5 {
        font-size: 19px !important;
        margin-top: 21px !important;
    }
    .slider-side-content button {
        font-size: 11px !important;
        margin-top: 17px !important;
    }
    .slider-content .container-fluid .row {
        padding: 95px 2% !important;
    }
    #product-menu-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 30px !important;
    }
    .product-effect-content .product-menu-text-content {
        left: 22px !important;
        top: -124px !important;
    }
    .product-menu-text-content h2 {
        font-size: 23px !important;
    }
    .product-menu-text-content p {
        font-size: 14px !important;
    }
    .product-menu-text-content a {
        font-size: 15px !important;
    }
    .product-effect-content {
        margin-bottom: -47px !important;
    }
    .about-team-text-content h2 {
        font-size: 28px !important;
    }
    .about-team-text-content p {
        font-size: 13px !important;
    }
    #today-deal-main-content > h1 {
        font-size: 28px !important;
    }
    .carousel-control-next {
        padding-left: 0 !important;
        display: none;
    }
    .faq-text-heading-content > h2 {
        font-size: 28px !important;
    }
    .faq-text-heading-content > p {
        font-size: 13px !important;
    }
    .faq-page-question-list-main-content .container-fluid .row {
        padding: 30px 0 !important;
        margin: 0 !important;
    }
    .question-list-content {
        margin: 0 !important;
    }
    .question-list-content ul li h3 {
        font-size: 19px !important;
    }
    .question-list-content ul li h3 span {
        font-size: 13px !important;
    }
    .fsq-left-colum-img-content img {
        display: none !important;
    }
    #arrivals-product-main-content > h1 {
        font-size: 28px !important;
    }
    #contactus-page-main-content h1 {
        font-size: 28px !important;
    }
    .contact-us-file-content .container-fluid .row {
        padding: 0 2% !important;
    }
    .today-deal-product-card-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 88px !important;
    }
    .left-input-form-colum-content button {
        margin-bottom: 23px !important;
        font-size: 12px !important;
    }
    .left-input-form-colum-content input {
        font-size: 13px !important;
    }
    .left-input-form-colum-content textarea input {
        font-size: 13px !important;
    }
    .footer-list-main-content .container-fluid .row {
        padding: 35px 3% !important;
    }
    .footer-list-content h3 {
        font-size: 22px !important;
    }
    .footer-list-content ul li a {
        font-size: 15px !important;
    }
    .footer-list-content ul {
        margin-top: 30px !important;
        margin-bottom: 45px !important;
    }
    .footer-list-content p {
        font-size: 15px !important;
    }
    .input-group input {
        width: 96% !important;
        font-size: 13px !important;
    }
    .input-group-text {
        font-size: 12px !important;
        padding: 9px 18px !important;
    }
    .footer-copy-link p {
        font-size: 13px !important;
    }
}
/*325-mobile-screen*/
@media only screen and (max-width: 425px){
    #navbar-content .container-fluid .row {
        padding: 0 !important;
    }
    .navbar-nav {
        margin: 18px 0 !important;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }
    .navbar-dark .navbar-toggler{
        margin-right: -27px;
        padding-left: 157px;
    }
    .navbar-dark .navbar-toggler-icon {
        display: contents !important;
    }
    .slider-side-content h3 {
        font-size: 16px !important;
    }
    .slider-side-content h2 {
        font-family: 'Lacquer', cursive;
        margin: 5px 0 !important;
        font-size: 40px !important;
    }
    .slider-side-content h5 {
        font-size: 19px !important;
        margin-top: 21px !important;
    }
    .slider-side-content button {
        font-size: 11px !important;
        margin-top: 17px !important;
    }
    .slider-content .container-fluid .row {
        padding: 95px 2% !important;
    }
    #product-menu-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 30px !important;
    }
    .product-effect-content .product-menu-text-content {
        left: 22px !important;
        top: -124px !important;
    }
    .product-menu-text-content h2 {
        font-size: 23px !important;
    }
    .product-menu-text-content p {
        font-size: 14px !important;
    }
    .product-menu-text-content a {
        font-size: 15px !important;
    }
    .product-effect-content {
        margin-bottom: -47px !important;
    }
    .about-team-text-content h2 {
        font-size: 28px !important;
    }
    .about-team-text-content p {
        font-size: 13px !important;
    }
    #today-deal-main-content > h1 {
        font-size: 28px !important;
    }
    .carousel-control-next {
        padding-left: 0 !important;
        display: none;
    }
    .faq-text-heading-content > h2 {
        font-size: 28px !important;
    }
    .faq-text-heading-content > p {
        font-size: 13px !important;
    }
    .faq-page-question-list-main-content .container-fluid .row {
        padding: 30px 0 !important;
        margin: 0 !important;
    }
    .question-list-content {
        margin: 0 !important;
    }
    .question-list-content ul li h3 {
        font-size: 19px !important;
    }
    .question-list-content ul li h3 span {
        font-size: 13px !important;
    }
    .fsq-left-colum-img-content img {
        display: none !important;
    }
    #arrivals-product-main-content > h1 {
        font-size: 28px !important;
    }
    #contactus-page-main-content h1 {
        font-size: 28px !important;
    }
    .contact-us-file-content .container-fluid .row {
        padding: 0 2% !important;
    }
    .today-deal-product-card-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 88px !important;
    }
    .left-input-form-colum-content button {
        margin-bottom: 23px !important;
        font-size: 12px !important;
    }
    .left-input-form-colum-content input {
        font-size: 13px !important;
    }
    .left-input-form-colum-content textarea input {
        font-size: 13px !important;
    }
    .footer-list-main-content .container-fluid .row {
        padding: 35px 3% !important;
    }
    .footer-list-content h3 {
        font-size: 22px !important;
    }
    .footer-list-content ul li a {
        font-size: 15px !important;
    }
    .footer-list-content ul {
        margin-top: 30px !important;
        margin-bottom: 45px !important;
    }
    .footer-list-content p {
        font-size: 15px !important;
    }
    .input-group input {
        width: 96% !important;
        font-size: 13px !important;
    }
    .input-group-text {
        font-size: 12px !important;
        padding: 9px 18px !important;
    }
    .footer-copy-link p {
        font-size: 13px !important;
    }
}
/*320-mobile-screen*/
@media only screen and (max-width: 425px){
    #navbar-content .container-fluid .row {
        padding: 0 !important;
    }
    .navbar-nav {
        margin: 18px 0 !important;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 14px !important;
        letter-spacing: 1px !important;
    }
    .navbar-dark .navbar-toggler{
        margin-right: -27px;
        padding-left: 157px;
    }
    .navbar-dark .navbar-toggler-icon {
        display: contents !important;
    }
    .slider-side-content h3 {
        font-size: 16px !important;
    }
    .slider-side-content h2 {
        font-family: 'Lacquer', cursive;
        margin: 5px 0 !important;
        font-size: 40px !important;
    }
    .slider-side-content h5 {
        font-size: 19px !important;
        margin-top: 21px !important;
    }
    .slider-side-content button {
        font-size: 11px !important;
        margin-top: 17px !important;
    }
    .slider-content .container-fluid .row {
        padding: 95px 2% !important;
    }
    #product-menu-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 30px !important;
    }
    .product-effect-content .product-menu-text-content {
        left: 22px !important;
        top: -124px !important;
    }
    .product-menu-text-content h2 {
        font-size: 23px !important;
    }
    .product-menu-text-content p {
        font-size: 14px !important;
    }
    .product-menu-text-content a {
        font-size: 15px !important;
    }
    .product-effect-content {
        margin-bottom: -47px !important;
    }
    .about-team-text-content h2 {
        font-size: 28px !important;
    }
    .about-team-text-content p {
        font-size: 13px !important;
    }
    #today-deal-main-content > h1 {
        font-size: 28px !important;
    }
    .carousel-control-next {
        padding-left: 0 !important;
        display: none;
    }
    .faq-text-heading-content > h2 {
        font-size: 28px !important;
    }
    .faq-text-heading-content > p {
        font-size: 13px !important;
    }
    .faq-page-question-list-main-content .container-fluid .row {
        padding: 30px 0 !important;
        margin: 0 !important;
    }
    .question-list-content {
        margin: 0 !important;
    }
    .question-list-content ul li h3 {
        font-size: 19px !important;
    }
    .question-list-content ul li h3 span {
        font-size: 13px !important;
    }
    .fsq-left-colum-img-content img {
        display: none !important;
    }
    #arrivals-product-main-content > h1 {
        font-size: 28px !important;
    }
    #contactus-page-main-content h1 {
        font-size: 28px !important;
    }
    .contact-us-file-content .container-fluid .row {
        padding: 0 2% !important;
    }
    .today-deal-product-card-content .container-fluid .row {
        padding: 0 1% !important;
        padding-bottom: 88px !important;
    }
    .left-input-form-colum-content button {
        margin-bottom: 23px !important;
        font-size: 12px !important;
    }
    .left-input-form-colum-content input {
        font-size: 13px !important;
    }
    .left-input-form-colum-content textarea input {
        font-size: 13px !important;
    }
    .footer-list-main-content .container-fluid .row {
        padding: 35px 3% !important;
    }
    .footer-list-content h3 {
        font-size: 22px !important;
    }
    .footer-list-content ul li a {
        font-size: 15px !important;
    }
    .footer-list-content ul {
        margin-top: 30px !important;
        margin-bottom: 45px !important;
    }
    .footer-list-content p {
        font-size: 15px !important;
    }
    .input-group input {
        width: 96% !important;
        font-size: 13px !important;
    }
    .input-group-text {
        font-size: 12px !important;
        padding: 9px 18px !important;
    }
    .footer-copy-link p {
        font-size: 13px !important;
    }
}
