#today-deal-main-content {
    background: url("https://venia-store-demo.myshopify.com/cdn/shop/files/bg-produstsale.jpg?v=1614356908");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#today-deal-main-content > h1 {
    text-align: center;
    font-family: 'Lacquer', cursive;
    padding: 82px 0;
    font-size: 35px;
}
.today-deal-product-card-content {}
.today-deal-product-card-content .container-fluid {}
.today-deal-product-card-content .container-fluid .row {
    padding: 0 6%;
    padding-bottom: 88px;
}
.product-deal-card-content {}
.product-deal-card-content .product-deal-img-content {}
.product-deal-card-content .product-deal-img-content img {
    cursor: pointer;
}
.product-deal-card-content .product-deal-img-content img:hover {}
/*extra*/
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    /*left: 0;*/
    /*right: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    left: 17px;
    right: 0;
    height: 100%;
    width: 91%;
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
    /*background-image: linear-gradient(to bottom right, #ff3475, #feb682);*/
    background-image: linear-gradient(to bottom right, #ff3475cc, #feb682e8);
}

.container:hover .overlay {
    opacity: 1;
}

.icon {
    color: white !important;
    font-size: 25px;
    position: absolute;
    top: 50%;
    text-decoration: none !important;
    left: 28%;
    margin: 0 61px;
    display: flex;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.icon i {
    margin: 0 23px;
    text-decoration: none;
}
.main-icon-link {}
.icon i:hover {
    color: #eee;
}
.top-right {
    position: absolute;
    top: 11px;
    right: 27px;
    background: #ff3475;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 3px 8px;
}
.centered {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 91%;
    left: 50%;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
}
/*extra*/
.product-deal-card-content {}
.product-item-detail-content {
    margin-top: 31px;
    padding-left: 17px;
}
.product-item-detail-content h3 {
    font-family: 'Lacquer', cursive;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: 0.2s;
}
.product-item-detail-content h3:hover {
    color: #ff3475;
}
.product-item-detail-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ff3475;
}
.product-item-detail-content p span {
    color: black;
    text-decoration: line-through;
}